html {
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
  font-size: 18px;
  font-weight: 300;
}

body {
  margin: 0;
  background-image: url("./assets/background-img.png");
  background-size: cover;  /* sets smallest side (width or height) to 100% of container and preserves aspect ratio
  by chopping off from the longer side */
  background-attachment: fixed; /* sets background image to 'fixed' so it doesn't scroll */
}

/*

  UTILITY CLASSES

*/

h1 {
  color: #090c08;
}

.text-align-center {
  text-align: center;
}

.text-align-reset {
  text-align: initial; /* initial sets to default value of property, which in this case is "left" */
}

.fs-20 {
  font-size: 20px;
}

.white-text {
  color: white !important; /* color inherits! */
}

.blue-text {
  color: lightblue;
}

.pb-50 {
  padding-bottom: 50px;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/*

  TOP FOLD

*/

.page-header {
  background-color: #45097c;
}

.nav-item {
  text-decoration: none; /* removes default underline */
  transition: color 300ms ease;
}

.nav-item:hover {
  color: steelblue;
}

.hero-image {
  background-image: url("assets/lfz-logo-reskin3.png");
  background-color: #9381ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%; /* auto width to preserve aspect ratio */
  height: 350px;
}

.student-name {
  font-size: 80px;
  background-color: #9381ff;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

/*

  ABOUT ME

*/

.about-section {
  background-color: whitesmoke;
}

.about-image {
  max-height: 80%;
  border-radius: 50%; /* border: solid 6px #9381FF; */
}

/*

  TECHNOLOGIES

*/

.tech-section {
  background-color: gainsboro;
}

/*

  PROJECTS

*/

.projects-section {
  background-color: snow;
}

.project-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px darkslategray;
}

.project-link,
.project-link:visited {
  text-decoration: none;
  color: #090c08;
  transition: color 300ms ease;
  transition: transform 300ms ease;
  padding: 16px;
  font-size: 20px;
}

.project-link:hover {
  color: #0b4f6c;
  transform: scale(1.1);
}

/*

  CONTACT

*/

.contact-section {
  background-color: #45097c;
  padding-bottom: 24px;
}
